@using Newtonsoft.Json
@model MyServer.Web.Main.Areas.ImageGallery.Models.Album.AlbumViewModel

<h2>@Model.Title</h2>
<hr />
<div class="row">

    <div class="overlay-album mygallery lightgallery">
        @foreach (var image in Model.Images)
        {
            <a href='@image.MiddleImageSource'>
                <img alt="@image.Info" src='@image.LowImageSource'/>
            </a>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".lightgallery").lightGallery();
        $(".mygallery").justifiedGallery({
            rowHeight: 200,
            maxRowHeight: 2000,
            sizeRangeSuffixes:
                {
                    'lt100': '_t',
                    'lt240': '_m',
                    'lt320': '_n',
                    'lt500': '',
                    'lt640': '_z',
                    'lt1024': '_b'
                },
            fixedHeight: false,
            margins: 3,
            lastRow: 'nojustify',
            captions: false,
            thumbnailPath: function (currentPath, width, height) {
                if (Math.max(width, height) < 200) {
                    return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1low$2");
                } else {
                    return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1medium$2");
                }
            }

        });
    });
</script>
