@using MyServer.Web.Models.Home
<div class="well well-mobile">
    <div>
        <h4>@LocString["Latest albums"]</h4>
        @{
            var albums = ViewData["LatestAlbums"] as List<HomeAlbumViewModel>;

            if (albums != null)
            {
                <table class="table">
                    @foreach (var album in albums)
                    {
                    <tr>
                        <td>@album.Title</td>
                        <td>@album.Date</td>
                        <td>@album.ImagesCountCover</td>
                    </tr>
                    }
                </table>
            }
        }
        <hr />
    </div>
</div>