@{
    ViewData["Title"] = LocString["Title"];
}

<div class="col-md-9">    
    @await Component.InvokeAsync("LatestAddedAlbums")
</div>
<div class="col-md-3 text-center">
    @await Html.PartialAsync("_Social")
    @await Html.PartialAsync("_Statistics")
</div>