@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = LocString["Title"];
}

<div class="col-md-9">
    @await Html.PartialAsync("_LatestAddedAlbums")
</div>
<div class="col-md-3 text-center">
    @await Html.PartialAsync("_Social")
    @await Html.PartialAsync("_Statistics")
</div>