@{
    ViewData["Title"] = SharedLocalizer["Title"];
}

<div class="col-md-9">    
    @await Component.InvokeAsync("LatestAddedAlbums", new { AllImagesRoute = "/ImageGallery/Album" })
</div>
<div class="col-md-3 text-center">   
    @await Component.InvokeAsync("Social") 
    @await Component.InvokeAsync("Statistics")
</div>