@page
@using MyServer.Web.Helpers

@inject IStringLocalizer<SharedResource> SharedLocalizer
@model MyServer.Web.Pages.IndexModel
@{
    ViewData["Title"] = SharedLocalizer["Title"];
}

<div class="col-md-9">
    @await Component.InvokeAsync("LatestAddedAlbums", new { AllAlbumsRoute = "/ImageGallery/Album" })
    @await Component.InvokeAsync("LatestAddedImages", new { AllImagesRoute = "/ImageGallery/Image" })
</div>
<div class="col-md-3 text-center">
    @await Component.InvokeAsync("Social")
    @await Component.InvokeAsync("Statistics")
    @await Component.InvokeAsync("SmartHome")
</div>