@{
    ViewData["Title"] = SharedLocalizer["FileManager"];
}

@Html.Partial("_KendoScriptsPartial")

<div class="well well-mobile">

    @(Html.Kendo().TreeView()
    .Name("PathTreeView")
    .DataTextField("Name")
    .DataSource(dataSource => dataSource        
        .Read(read => read.Action("Read", "Json"))
    )
    )
</div>