@using MyServer.Web.Areas.ImageGalleryAdmin.Controllers
@model MyServer.Web.Areas.Shared.Models.SortFilterAlbumViewModel

<form asp-action="@nameof(AlbumController.SortFilter)" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#image-container">
    <div class="row">
        <div class="col-sm-2">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create" asp-controller="Album" asp-route-area="ImageGalleryAdmin" class="btn btn-default">@SharedLocalizer["CreateAlbum"]</a>
            }
        </div>
        <label asp-for="SearchString" class="col-sm-1 control-label"></label>
        <div class="col-sm-3">
            <input asp-for="SearchString" class="form-control" />
        </div>
        <label asp-for="SortType" class="col-sm-1 control-label"></label>
        <div class="col-sm-3">
            @Html.EditorFor(m => m.SortType)
        </div>
        <div class="col-sm-2"></div>
    </div>
    <input type="submit" value="" class="btn btn-default" style="display:none" id="submit-button" />
</form>
<script>
    $(document).ready(function () {
        $('#SearchString').on('input', function (e) {
            $('#submit-button').click();
        });
        $('#SortType').on('change', function (e) {
            $('#submit-button').click();
        });
    });
</script>

