body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

figure {
    display: inline;
}

.overlay-album {
    padding: 3px;
    font: normal 16px/1.5 Arial, sans-serif;
}

.overlay-album h1{
    margin: 0;
    text-shadow: 4px 4px 4px #000000;
}

.overlay-album p{
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}

.overlay-album-link {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}

.overlay-album-link::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.overlay-album-image {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.overlay-album-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}

.overlay-album-title {
    transform: translateY( calc(-100% - 75px) );
}
.overlay-album-content {
    transform: translateY( calc(-100% - 60px) );
}
