@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MyServer.Web.Helpers.SharedResource> SharedLocalizer

<div class="text-center">
    <h2>@SharedLocalizer["AccessDeninedAdminText"]</h2>
</div>