@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MyServer.Web.Helpers.SharedResource> SharedLocalizer

<div class="text-center">
    <h2>@SharedLocalizer["AccessDeninedUserText"]</h2>
</div>

<div class="text-center">
    <a href="/Account/Login?returnUrl=@Context.Request.Path" class="btn btn-default">@SharedLocalizer["AccessDeninedUserBtn"]</a>
</div>