@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using MyServer.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Account" asp-controller="Login" asp-action="Exit" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Account" asp-controller="Manage" asp-action="Index" title="Manage">@((object)UserManager.GetUserName(User))</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@LocString["Exit"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="Account" asp-controller="Register" asp-action="Index">@LocString["Register"]</a>
        </li>
        <li>
            <a asp-area="Account" asp-controller="Login" asp-action="Index">@LocString["Login"]</a>
        </li>
    </ul>
}
