@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@using MyServer.Data.Models
@using MyServer.Web.Helpers
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
    
@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-page="/Account/Manage" class="nav-link">
                <i class="fa fa-user" aria-hidden="true"></i> @((object)UserManager.GetUserName(User))
            </a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Logout" class="nav-link">
                <i class="fa fa-sign-out" aria-hidden="true"></i> @SharedLocalizer["Exit"]
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-page="/Account/Register">
                <i class="fa fa-user-plus" aria-hidden="true"></i> @SharedLocalizer["Register"]
            </a>
        </li>
        <li>
            <a asp-page="/Account/Login">
                <i class="fa fa-sign-in" aria-hidden="true"></i> @SharedLocalizer["Login"]
            </a>
        </li>
    </ul>
}