@model MyServer.Web.Main.Areas.ImageGalleryAdmin.Models.Album.AlbumEditViewModel

<form asp-action="AlbumDataPartial" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#album-data-partial">
    <div class="form-horizontal">
        <h4>AlbumEditViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <input type="hidden" asp-for="Id" class="form-control" />
        
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div class="demo-section k-content">
            @(Html.Kendo().Upload().Name("files").Async(a => a.Save("Save", "Upload").AutoUpload(true)).Events(ev => ev.Complete("onComplete")))
        </div>

    </div>
</form>

<script>
    function onComplete(e) {
        $.ajax({
            url: '/ImageGalleryAdmin/Album/UpdateImages',
            error: function () {
              //  $('#info').html('<p>An error has occurred</p>');
            },
            success: function (data) {
                $("#image-list-box").html(data);
                ImageListUpdate();
            },
            type: 'POST'
        });
    }
</script>
