@using MyServer.Web.Areas.ImageGalleryAdmin.Models.Album
@model MyServer.Web.Areas.ImageGalleryAdmin.Models.Album.AddAlbumViewModel

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>AddAlbumViewModel</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TitleEn" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="TitleEn" class="form-control"/>
                <span asp-validation-for="TitleEn" class="text-danger" />
            </div>
            <label asp-for="TitleBg" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="TitleBg" class="form-control" />
                <span asp-validation-for="TitleBg" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionEn" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.Kendo().EditorFor(model => model.DescriptionEn).HtmlAttributes(new { @class = "form-control" }).Encoded(false)
                <span asp-validation-for="DescriptionEn" class="text-danger" />
            </div>
            <label asp-for="DescriptionBg" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.Kendo().EditorFor(model => model.DescriptionBg).HtmlAttributes(new { @class = "form-control" }).Encoded(false)
                <span asp-validation-for="DescriptionBg" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Access" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Access" asp-items='@Model.AccessTypes' class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_KendoScriptsPartial");
    }
}

@section Styles {
    @{
        await Html.RenderPartialAsync("_KendoStylesPartial");
    }
}
