@model MyServer.Web.Main.Areas.ImageGalleryAdmin.Models.Album.AlbumEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="well" id="album-data-partial">
    @{
        await Html.RenderPartialAsync("_AlbumDataPartial");
    }
</div>

@*<div id="album-data-partial">
    @Html.Partial("_AlbumDataPartial", Model);
</div>*@

<div class="well" id="image-list-box">
    @Html.Partial("_ImageListPartial", Model)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
