@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model Enum

@{

    Func<object, string> GetDisplayName = o =>
    {
        var result = null as string;
        var display = o.GetType()
                       .GetTypeInfo()
                       .GetMember(o.ToString()).First()
                       .GetCustomAttributes(false)
                       .OfType<DisplayAttribute>()
                       .LastOrDefault();
        if (display != null)
        {
            result = display.GetName();
        }

        return result ?? o.ToString();
    };

    var values = Enum.GetValues(typeof(MyServer.Common.MyServerSortType)).Cast<object>()
                     .Select(v => new SelectListItem
                     {
                         Selected = v.Equals(Model),
                         Text = Html.Raw(GetDisplayName(v)).ToString(),
                         Value = v.ToString()
                     });
}

<select class="form-control" id="SortType" name="SortType">
    @foreach (var value in values)
    {
        <option value="@value.Value">@value.Text</option>
    }
</select>