@page
@using Microsoft.Extensions.Localization
@using MyServer.Web.Helpers

@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Contacts"];
}

<div class="well">
    <div class="text-center">
        <h1>@SharedLocalizer["Contacts"]</h1>
        <hr />
    </div>
    <div>
        @await Component.InvokeAsync("Content", new { key = "Contacts" })
    </div>
</div>