@page
@using Microsoft.Extensions.Localization
@using MyServer.Web.Helpers
@using MyServer.Web.Pages.Account.Manage
@model MyServer.Web.Pages.Account.Manage.IndexModel
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["CV"];
}

<div class="well">
    <div class="text-center">
        <h1>@SharedLocalizer["CV"]</h1>
        <hr />
        @await Component.InvokeAsync("Content", new { key = "cv" })
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
