@using System.IO
@using Microsoft.AspNetCore.Mvc.Razor
<div class="well well-mobile">
    <div>
        <div class="social">
            <a href="mailto:atanasgeorgiev83@mail.com">
                <i class="fa fa-lg fa-envelope"></i>
            </a>
            <a href="skype:avg97103?chat">
                <i class="fa fa-lg fa-skype"></i>
            </a>
            <a href="https://www.facebook.com/atanas.georgiev.104203" target="_blank">
                <i class="fa fa-lg fa-facebook"></i>
            </a>
            <a href="https://plus.google.com/u/0/115663164281585493249" target="_blank">
                <i class="fa fa-lg fa-google-plus"></i>
            </a>
            <a href="https://github.com/atanas-georgiev" target="_blank">
                <i class="fa fa-lg fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/atanas-georgiev-397b8788" target="_blank">
                <i class="fa fa-lg fa-linkedin"></i>
            </a>
            <a href="https://foursquare.com/user/56462790" target="_blank">
                <i class="fa fa-lg fa-foursquare"></i>
            </a>
        </div>
    </div>
</div>